.search-result .transcription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.search-result em {
    font-style: normal;
    font-weight: bold;
    color: chartreuse;
}

a {
    cursor: pointer;
}

.time-link {
    cursor: pointer;
    text-decoration: underline;
}

.segment.active {
    font-weight: bold;
    color: lightgreen;
}

.lines {
    height: 500px;
    overflow-y: scroll;
}

#details .details-table  {
    max-width: 400px;
}

.interview-search {
    max-width: 400px;
}

.form-control {
    min-width: 400px;
}