<!DOCTYPE html>
<html ng-app="OralHistoryApp" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>

    <input type="text" ng-model="q" />

    <a ng-href="/#/search/{{q}}">GO!</a>


    <div ng-view></div>

    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/OralHistoryApp")
</body>
</html>