<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/AudioDemo.css" rel="stylesheet" />
    <title>Linking Demo</title>
</head>
<body>

    <h1>Audio Demo</h1>

    <audio id="testAudio" controls="true" src="~/Content/audio/joyce.wav">
        <b>Your browser does not support the audio tag.</b>
    </audio>

    <p class="audio-link" data-time="34.28"><b>34.28:</b> Was at church for morning service when she heard the outbreak of war on 3rd September</p>
    <p class="audio-link" data-time="822.91"><b>822.91:</b> Vicar in tears on hearing the news as he had two sons</p>
    <p class="audio-link" data-time="91.81"><b>91.81:</b> Sirens went on the first night which she thought was a trial</p>
    <p class="audio-link" data-time="118"><b>118:</b> Her father belonged to Home Guard and they went onto the church roof</p>
    <p class="audio-link" data-time="190.32"><b>190.32:</b> Evacuees remembered as coming from Leeds, but Joyces family only had officers billeted Captain Galbraith, Captain Maxwell Williams, Captain Kirk, son of Sir Walter Kirk, and Captain Steadman</p>
    <p class="audio-link" data-time="204.2"><b>204.2:</b> Batman came every morning to clean the shoes and get clothes ready</p>
    <p class="audio-link" data-time="213.48"><b>213.48:</b> Sister remembers the batman cleaning their shoes as well, But Joyce doesnt remember</p>
    <p class="audio-link" data-time="237.34"><b>237.34:</b> Only one bathroom, so things difficult</p>
    <p class="audio-link" data-time="235.56"><b>235.56:</b> Just had electricity installed, but only for lights, no power plugs</p>
    <p class="audio-link" data-time="241.81"><b>241.81:</b> Officers wives came to stay sometimes and Joyces mother would cook them a meal and let them stay in the sitting room for privacy</p>
    <p class="audio-link" data-time="269.04"><b>269.04:</b> Thinks the officers were from West Kent regiment</p>
    <p class="audio-link" data-time="278.76"><b>278.76:</b> Refers to photograph of Maxwell- Williams and wife, a beautiful couple</p>
    <p class="audio-link" data-time="295.79"><b>295.79:</b> Cannot remember how long they stayed, not there in the winter</p>
    <p class="audio-link" data-time="330.59"><b>330.59:</b> Joyces sister remembers Maxwell-Williams being so tired that his wife couldnt wake him, thinks he and other officers had just returned from Dunkirk</p>
    <p class="audio-link" data-time="362.99"><b>362.99:</b> Refers to tents in the grounds of the Hall. Woke up one morning and saw the park full of tents this was overnight</p>
    <p class="audio-link" data-time="381.23"><b>381.23:</b> Soldiers had film show in Granary at the Home farm and invited villages to see the films</p>
    <p class="audio-link" data-time="396.03"><b>396.03:</b> Field Marshall Alexander came from Hickleton, perhaps was based there. Soldiers stood and saluted </p>
    <p class="audio-link" data-time="371.87"><b>371.87:</b> Soldiers welcome in the village</p>
    <p class="audio-link" data-time="432.01"><b>432.01:</b> Remembers one soldier travelling to Doncaster on Joyces bus. Was taking dispatches on the bus</p>
    <p class="audio-link" data-time="453.4"><b>453.4:</b> Remembers them as very decent and friendly men</p>
    <p class="audio-link" data-time="467.45"><b>467.45:</b> With regards rationing, felt very lucky as they had their own produce from the farm, such as dairy and eggs, fruit and vegetables</p>
    <p class="audio-link" data-time="489.66"><b>489.66:</b> Killed a pig once a year in December</p>
    <p class="audio-link" data-time="494.64"><b>494.64:</b> Had pork, sausages, pork pies</p>
    <p class="audio-link" data-time="499.48"><b>499.48:</b> Food kept well over winter due to the cold.</p>
    <p class="audio-link" data-time="508.97"><b>508.97:</b> Father cured rest of the pig in February.</p>
    <p class="audio-link" data-time="65.14"><b>65.14:</b> Cured the pork on stone flags in the pantry on beds of salt</p>
    <p class="audio-link" data-time="508.97"><b>508.97:</b> Rubbed salt and saltpetre on the hams and sides of bacons and left to cure</p>
    <p class="audio-link" data-time="571.48"><b>571.48:</b> Hung the hams in pillowcases on hooks in the kitchen. Used the ham whenever they need it</p>
    <p class="audio-link" data-time="594.78"><b>594.78:</b> Villagers would come to buy eggs, but told by police they were not allowed to sell them</p>
    <p class="audio-link" data-time="611.7"><b>611.7:</b> Eggs had to go to a distribution centre</p>
    <p class="audio-link" data-time="333.66"><b>333.66:</b> Villages came with cans or jugs for milk and cream</p>
    <p class="audio-link" data-time="625.33"><b>625.33:</b> Skimmed off the cream from big bowls</p>
    <p class="audio-link" data-time="632.77"><b>632.77:</b> Joyce had thick cream on her breakfast cereal</p>
    <p class="audio-link" data-time="426.97"><b>426.97:</b> Joyce remembers whist drives at the vicarage and whist drives and dances at the school</p>
    <p class="audio-link" data-time="684.92"><b>684.92:</b> Annual fete held at the vicarage, but cannot remember anything being held at the Hall</p>
    <p class="audio-link" data-time="371.87"><b>371.87:</b> Cannot remember if soldiers came to social events and thinks they may have come to the dances</p>
    <p class="audio-link" data-time="734.8"><b>734.8:</b> Joyce at High School in Doncaster and took gas mask everywhere</p>
    <p class="audio-link" data-time="741.56"><b>741.56:</b> Had practices at going into shelters in the park next to the school</p>
    <p class="audio-link" data-time="734.8"><b>734.8:</b> Took Ovaltine tablets in the gas masks to suck if in shelters for long</p>
    <p class="audio-link" data-time="773.66"><b>773.66:</b> Didnt worry about leaving home and parents didnt seem worried</p>
    <p class="audio-link" data-time="789.21"><b>789.21:</b> Remembers the Tomlinsons well. He was manager at the colliery and they lived at the cottage</p>
    <p class="audio-link" data-time="807.41"><b>807.41:</b> Mrs Tomlinson retired from teaching at Doncaster High school before Joyce knew her</p>
    <p class="audio-link" data-time="809.88"><b>809.88:</b> The Tomlinsons son John, killed during the war. Joyce mentions another son called Hugh</p>
    <p class="audio-link" data-time="822.91"><b>822.91:</b> Vicars son killed</p>
    <p class="audio-link" data-time="833.54"><b>833.54:</b> Frederick Wigg (?) was killed aged 19, his Father worked at the farm</p>
    <p class="audio-link" data-time="833.54"><b>833.54:</b> Frederick on the choir photo aged 12</p>
    <p class="audio-link" data-time="883.75"><b>883.75:</b> Joyce cannot remember the names on the window ledge in the church for the memorial. </p>
    <p class="audio-link" data-time="833.54"><b>833.54:</b> Choir photo mentioned and Frederick on the photo</p>
    <p class="audio-link" data-time="921.71"><b>921.71:</b> Carol mentions SAFA, who a Mrs Youens did voluntary work for.</p>
    <p class="audio-link" data-time="939.29"><b>939.29:</b> Joyce remembers Mrs Grant-Dalton being involved in work for the Hospital Comforts, making pyjamas for the wounded soldiers</p>
    <p class="audio-link" data-time="928.69"><b>928.69:</b> Mrs Grant-Dalton president for the hospital comforts for a long time</p>
    <p class="audio-link" data-time="947.53"><b>947.53:</b> Sewing done in their own volunteers homes</p>



    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/AudioDemo.js"></script>
</body>
</html>