
<h3>Interview</h3>

<div class="panel panel-default">
    <div class="panel-heading">{{ interview.Title }}</div>
    <div class="panel-body">
        <p><strong>Description:</strong> {{ interview.Description }}</p>
        <p><strong>Transcription:</strong> {{ interview.Transcription }}</p>
    </div>
</div>