<div ng-if="!interview">
    <h1>Loading...</h1>
</div>

<div ng-class="{ hidden: !interview }">
    <iframe width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            ng-src="{{interview.SoundcloudUrl}}"
            id="soundcloud_player"></iframe>

    <br />

    <p ng-if="currentSentence">"{{currentSentence}}"</p>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{ active: selectedTab === 'details' }">  <a ng-click="setTab('details')" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation" ng-class="{ active: selectedTab === 'summary' }">  <a ng-click="setTab('summary')" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
            <li role="presentation" ng-class="{ active: selectedTab === 'manual' }" ng-if="interview.ManualTranscription.length > 0">   <a ng-click="setTab('manual')" aria-controls="manual" role="tab" data-toggle="tab">Manual Transcription</a></li>
            <li role="presentation" ng-class="{ active: selectedTab === 'automatic' }"><a ng-click="setTab('automatic')" aria-controls="automatic" role="tab" data-toggle="tab">Automatic Transcription</a></li>
            <li role="presentation" ng-class="{ active: selectedTab === 'search' }">   <a ng-click="setTab('search')" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" ng-class="{ active: selectedTab === 'details' }" id="details">
                <h2>Details</h2>
                <table class="details-table table table-bordered">
                    <tr>
                        <td>Name</td>
                        <td>{{ interview.Interviewee }}</td>
                    </tr>
                    <tr>
                        <td>Interviewer</td>
                        <td>{{ interview.Interviewer }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ interview.DateOfInterview }}</td>
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{ active: selectedTab === 'summary' }" id="summary">
                <h2>Summary</h2>

                <p ng-if="interview.SummaryLines && interview.SummaryLines.length > 0">
                    <img width="50" height="50" src="https://metroui.org.ua/images/word2013icon.png" />
                    <a target="_blank" ng-href="http://gpowell.blob.core.windows.net/files/SummaryFor{{interview.id}}.docx">SummaryFor{{interview.id}}.docx
                    </a>
                </p>

                <div class="lines">
                    <table class="table table-bordered">
                        <tr ng-repeat="line in interview.SummaryLines track by $index">
                            <td ng-click="seek(interview.SummaryTimes[$index])" class="time-link">
                                <a>{{ interview.SummaryTimes[$index] == 0 ? "" : interview.SummaryTimes[$index].toHHMMSS() }}</a>
                            </td>
                            <td>
                                {{ line }}
                            </td>
                            <td>
                                <a ng-click="searchLine(line)">search</a>
                            </td>

                        </tr>

                    </table>

                </div>
            </div>
            <div ng-if="interview.ManualTranscription.length > 0" role="tabpanel" class="tab-pane" ng-class="{ active: selectedTab === 'manual' }" id="manual">
                <h2>Manual Transcription</h2>

                <p ng-if="interview.ManualTranscription.length > 0">
                    <img width="50" height="50" src="https://metroui.org.ua/images/word2013icon.png" />
                    <a target="_blank" ng-href="http://gpowell.blob.core.windows.net/files/ManualTranscriptionFor{{interview.id}}.doc">
                        ManualTranscriptionFor{{interview.id}}.doc
                    </a>
                </p>
                <p class="lines">{{ interview.ManualTranscription }}</p>
            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{ active: selectedTab === 'automatic' }" id="automatic">
                <h2>Automatic Transcription</h2>
                <div class="lines">
                    <table class="table table-bordered">
                        <tr ng-repeat="segment in interview.AutomaticTranscription.Segments track by $index"
                            class="segment"
                            ng-class="{ active: (currentSeconds > segment.StartTime && currentSeconds < segment.EndTime) }"
                            ng-if="segment.Sentence.length != 0">
                            <td ng-click="seek(segment.StartTime)" class="time-link">
                                <a>{{segment.StartTime.toHHMMSS()}}</a>
                            </td>
                            <td>
                                "{{ segment.Sentence }}"
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{ active: selectedTab === 'search' }" id="search">
                <form>
                    <br />
                    <input placeholder="Search Automatic Transcription" class="interview-search form-control" type="text" ng-model="searchQuery" />
                    <br />
                    <button type="submit" ng-click="searchWithin(searchQuery)" class="btn btn-default">Submit</button>
                </form>
                <br />
                <h3 ng-if="searchLoading">Loading...</h3>

                <h3 ng-if="!searchLoading &amp;&amp; searchResults.length == 0">Sorry, no results!</h3>

                <table ng-if="!searchLoading" class="table table-bordered">
                    <tr ng-repeat="segment in searchResults track by $index">
                        <td ng-click="seek(segment.StartTime)" class="time-link">
                            <a>{{segment.StartTime.toHHMMSS()}}</a>
                        </td>
                        <td>
                            "{{ segment.Sentence }}"
                        </td>
                    </tr>

                </table>

            </div>
        </div>

    </div>




</div>