
<p>{{ results.length }} results for {{ q }} </p>

<div ng-repeat="result in results" class="search-result">

    <h2><a ng-href="/#/interview/{{result.Id}}">{{ result.Title }}</a></h2>
    <div ng-repeat="highlightResult in result.Highlights">
        <h4>{{ highlightResult.Field }}</h4>
        <ul>
            <li ng-repeat="highlight in highlightResult.Highlights" ng-bind-html="'... ' + highlight + '...'"></li>
        </ul>
    </div>
    <hr />

    <!--<div class="panel panel-default">
        <div class="panel-heading"><a ng-href="/#/interview/{{result.Id}}">{{ result.Title }}</a></div>
        <div class="panel-body">
            <div ng-repeat="highlightResult in result.Highlights">
                <h4>{{ highlightResult.Field }}</h4>
                <ul>
                    <li ng-repeat="highlight in highlightResult.Highlights" ng-bind-html="'... ' + highlight + '...'"></li>
                </ul>
            </div>
        </div>
    </div>-->

</div>