

<div ng-repeat="result in results">
    <p>
        Title: {{ result.Title }}
    </p>
    <p>
        Description: {{ result.Description }}
    </p>
    <p>
        Transcription: {{ result.Transcription }}
    </p>
    <hr />
</div>