
<p>{{ results.length }} results for {{ q }} </p>

<div ng-repeat="result in results" class="search-result col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"><a ng-href="/#/interview/{{result.Id}}">{{ result.Title }}</a></div>
        <div class="panel-body">
            <p class="transcription">{{ result.Transcription }}</p>
        </div>
    </div>
</div>