
<div ng-repeat="result in results" class="card type1">
    <div class="header">
        <p>
            {{ result.Title }}
        </p>
    </div>
    <div class="body">
        <p>
            {{ result.Transcription }}
        </p>
    </div>
</div>