
<div ng-repeat="result in results" class="panel panel-default">
    <div class="panel-heading">{{ result.Title }}</div>
    <div class="panel-body">
        {{ result.Transcription }}
    </div>
</div>